<ul class="nav-bar">
    <li class="link">
        <a routerLink="/home" routerLinkActive="active-link" title="Go to home page">
            <span class="material-symbols-outlined"> home </span>
            Home
        </a>
    </li>

    <li class="link">
        <a routerLink="/vessels" routerLinkActive="active-link" title="Go to vessels page">
            <span class="material-symbols-outlined"> directions_boat </span>
            Vessels
        </a>
    </li>

    <li class="link">
        <a routerLink="/emissions" routerLinkActive="active-link" title="Go to emissions page">
            <span class="material-symbols-outlined"> co2 </span>
            Emissions
        </a>
    </li>
</ul>
